.body {
  background-color: rgb(32, 30, 30);

}

.body1 {
  background-color: rgb(32, 30, 30);
  height: 100vh;
  margin: auto;
  width: 100%;
  overflow-x: auto;
  position: relative;

}

.drop-down {

   display: flex;
  flex-direction: row;
  margin: 10px;
  position: relative; 

}

.drop-down51 {

  display: flex;
  flex-direction: row;
  margin: 10px;
  position: relative;
  width: auto;

}

.total-column {
  display: flex;
  flex-direction: row;
}

.form-input {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-input1 {
  border: 3px solid grey;
  display: flex;
  flex: 1;
  width: 50px;
  border-radius: 4px;
  background: transparent;
  color: white;
  font-size: 15px;
  margin-right: 5px;
  font-weight: bold;

}




.create-column-section {
  padding: 10px;
  border: 1px solid grey;
  border-radius: 6px;
  max-height: 450px;
  flex: 1;
  width: 120px;
}

.create-column-section1 {
  background-color: rgb(32, 30, 30);
  color: rgb(197, 190, 190);
  font-size: 12px;
  border-radius: 4px;
  border: none;
}

.new-column {
  padding: 10px;
  border: 1px solid grey;
  border-radius: 6px;
  max-height: 450px;
  flex: 1;
  color: white;
  font-weight: bold;
  font-size: 15px;
  min-width: 320px;
  max-width: 320px;
  margin: 0px 6px;
  background-color: #090f1a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.main-section {
  height: 350px;
  border-radius: 5px;
  margin-top: 5px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.main-section2{

  height: auto;
  flex: 1;
  width: auto;
}

.add-button {
  background-color: #1f252e;
  padding: 10px 10px;
  color: white;
  font-size: 14px;
  border-radius: 4px;
  border: none;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;

}

button.add-button:hover {
  background: rgba(128, 128, 128, 0.24);
}

.input {

  border-radius: 10px;
  border: none;
  margin-right: 10px;
}

.label {
  font-size: 13px;
  margin: 0px;
}

.title {
  margin: 15px 0px 8px 0px;
}

.add-button2 {
  background-color: rgb(32, 30, 30);
  padding: 2px 2px;
  color: white;
  font-size: 13px;
  border-radius: 4px;
  border: none;
  margin: 0px;
}

.add-button:hover {
  background-color: #1f252e;
}

.add-button2:hover {
  background-color: #1f252e;
}

.create-column {
  display: flex;
  flex-direction: row;
}

.count {
  width: 18px;
  height: 18px;
  border-radius: 13px;
  background-color: rgba(128, 128, 128, 0.3);
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  margin-left: 5px;
}

.middle {
  display: flex;
  height: 25px;
  grid-template-columns: 1fr;
  width: 100%;
}

.new-column1 {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  height: 25px;
  flex: 1;
  justify-content: space-between;
}

.new-column2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: center;
  height: 25px;
}

.add-item {
  font-weight: 100;
  display: flex;
  align-items: center;
  margin-bottom: -7px;
  cursor: pointer;
}

.add-item1 {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;

}

.add-item2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

.drop-down4 {
  color: white;
  font-size: 14px;
  border-radius: 5px;
  letter-spacing: 2px;
  height: 23px;
  width: 23px;
  display: flex;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  position: relative;
  flex-direction: row;
}

.drop-down5 {
  color: white;
  padding: 2px 1px 18px 2px;
  font-size: 14px;
  border-radius: 5px;
  letter-spacing: 2px;
  height: 23px;
  width: 23px;
  display: flex;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  position: relative;
  margin-left: 5px;
}


.toggle {
  display: flex;
  width: 22px;
  border-radius: 5px;
  height: 22px;
  object-fit: contain;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding-bottom: 7px;
  padding-left: 2px;
}


.toggle2 {
  margin-top: 7px;
  display: flex;
  height: 23px;
  width: 23px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.drop-down4:active {
  background: rgba(128, 128, 128, 0.432);
}

.drop-down4:hover {
  background: rgba(128, 128, 128, 0.411);
}

.drop-down5:active {
  background: rgba(128, 128, 128, 0.432);
}

.drop-down5:hover {
  background: rgba(128, 128, 128, 0.411);
}

.drop-down4>h4 {
  margin: 0px;
}

.list-drop-down {
  min-width: 200px;
  height: 150px;
  background: rgba(128, 128, 128, 0.411);
  border: 1px solid grey;
  position: absolute;
  top: 35px;
  right: 5px;
  border-radius: 10px;
  display: grid;
  gap: 2px;
}

.list-drop-down4 {
  min-width: 190px;
  height: 120px;
  background: rgba(128, 128, 128, 0.411);
  border: 1px solid grey;
  position: absolute;
  top: 35px;
  left: 5px;
  border-radius: 10px;
  display: grid;
  gap: 2px;
  z-index: 100;
  white-space: nowrap;
}

.list-drop-down4-1 {
  min-width: 190px;
  height: 80px;
  background: rgba(128, 128, 128, 0.411);
  border: 1px solid grey;
  position: absolute;
  top: 35px;
  left: 5px;
  border-radius: 10px;
  display: grid;
  gap: 2px;
  z-index: 100;
  white-space: nowrap;
}

.list-drop-down41 {
  min-width: 190px;
  height: 120px;
  background: rgba(128, 128, 128, 0.411);
  border: 1px solid grey;
  position: absolute;
  top: 35px;
  left: 5px;
  border-radius: 10px;
  display: grid;
  gap: 2px;
  z-index: 5;
  overflow-y: scroll;
  white-space: nowrap;
}


.list-drop-down2 {
  background-color: rgb(32, 30, 30);
  border-radius: 9px 9px 0px 0px;
  display: grid;
}

.list-drop-down5 {
  background-color: rgb(32, 30, 30);
  border-radius: 9px 9px 9px 9px;
  display: grid;
  gap: 2px;
  padding-top: 3px;
}

.list-drop-down3 {
  background-color: rgb(32, 30, 30);
  border-radius: 0px 0px 9px 9px;
  display: flex;
  flex-direction: column;
  display: grid;
}

.list1 {
  font-weight: 200;
  display: flex;
  font-size: 12px;
  margin: 5px 5px 0px 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  align-items: center;

}

.list2 {
  font-weight: 200;
  display: flex;
  font-size: 12px;
  margin: 0px 5px 5px 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  align-items: center;
}

.list3 {
  font-weight: 200;
  display: flex;
  font-size: 12px;
  margin: 5px 5px 0px 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  align-items: center;
}

.list4 {
  font-weight: 200;
  display: flex;
  font-size: 12px;
  margin: 0px 5px 5px 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  color: red;
  align-items: center;
}

.list1:hover,
.list2:hover,
.list3:hover {
  background: rgba(128, 128, 128, 0.411)
}

.list4:hover {
  background: rgba(255, 0, 0, 0.144);
}

.icons {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.icons-1 {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  color: green;
  font-weight: bold;
}




.bold {
  font-weight: bold;
}

.rename {
  cursor: pointer;
  height: 25px;
  white-space: nowrap;
}

.rename:hover {
  background: rgba(128, 128, 128, 0.24);
  border-radius: 4px;
}

.design1 {

  margin: -30px 10px 0px 10px;
  background-color: rgb(32, 30, 30);
  border: 2px solid grey;
  z-index: 2;
  color: white;
  display: grid;
  grid-template-columns: 40px auto;
  align-items: start;
  justify-items: center;
  font-size: 13px;
  border-radius: 5px;
  position: fixed;
   left: 0;
     right: 0; 
     top:600;


}



.nn {
  height: 15px;
  width: 15px;
  background: blue;
}

.design2 {
  font-size: 22px;
  height: 100%;
  border-right: 1px solid grey;
  width: 40px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  position: relative;
}

.design6 {
  font-size: 22px;
  height: 100%;
  width: 40px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  position: relative;
}

.design6:hover {
  background: rgba(128, 128, 128, 0.24);
}

.plus-item {
  position: absolute;
  background: rgba(128, 128, 128);
  width: 1000%;
  left: 100%;
  bottom: 103%;
  padding: 1px;
  border-radius: 5px;
}

.plus-item2a {
  font-size: 13px;
  padding: 12px 12px;
  background: #1f252e;
  border-radius: 5px 5px 0px 0px;
  margin-bottom: 1px;
  cursor: pointer;
}

.plus-item2b {
  font-size: 13px;
  padding: 12px 12px;
  background: #1f252e;
  border-radius: 0px 0px 5px 5px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
  cursor: pointer;
}


.design3 {
  padding: 10px 0px;
  display: flex;
  width: 100%;
  padding-left: 15px;
}

.design4 {
  padding: 10px 0px 10px 15px;
  display: flex;
  width: 100%;
  background: rgb(32, 30, 30);
  color: white;
}

.design5 {
  background: rgb(32, 30, 30);
  width: 100%;
  height: 100%;
  color: transparent;
  outline: none !important;
  border: none;
}


.design5:focus {
  background: transparent;
  width: 100%;
  height: 100%;
  color: white;
  outline: none !important;
  border: none;

}

.design6 {
  height: 100%;
}


.issues {
  border-radius: 6px;
  margin-top: 5px;
  height: 7px;
  background: #dbdde075;

}

.issues1 {
  border-radius: 6px;
  margin-top: 5px;
  height: 60px;
  background: #0e2c5a75;
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  font-weight: 450;
  font-size: 13px;

}

.issues2 {
  display: flex;
  flex-direction: row;
  padding-left: 15px;
  align-items: center;
  height: 30px;
}

.empty-space {
  width: 100%;
  height: 100%;
}

.issue-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}



.form-input-username1{
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 40px;
  align-items: center;max-width: 350px;
  margin-left: 10px;
  height: 50px;
}


.form-input-username2 {
  color: white;
  border: 1px solid grey;
  padding: 5px;
  margin: 15px 5px 10px 15px;
  border-radius: 3px;
  width: 150px;
  display: flex; 
  flex-direction: row;
  width: 300px;
  background: black;
}

.form-input-username3 {
  width: 80px; 
  padding: 5px;
  margin-top: 2px;
  background: white;
  border-radius: 0px 3px 3px 0px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  margin-left: -15px;
  margin-top: 4px;
  border: 1px solid grey;
};

.api-data {
  overflow-y: hidden;
  overflow-y: scroll;
};


.list-drop-down51 {
  border-bottom: 1px solid rgb(202, 6, 6);
  padding-left: 14px !important;
  font-size: 13px;
  background: red;
  color: red;
  height: 50px !important;
  width: 60px;
  z-index: 30;
};

.list-drop-down5:hover {
background: #1f252e;
}

.span1 {
  color: rgb(19, 245, 19);
  margin-right: 5px;
}

.list5 {
  padding-left: 10px;
  display: grid;
  grid-template-columns: 1fr;
  height: 20px;
  margin-bottom: 1px solid rgb(252, 252, 252);


}

.list5:hover {
  background: rgba(128, 128, 128, 0.24) ;
};

#form-body1{
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
}
